.center {
  text-align: center;
}
a, a:visited, a:hover {
  color: #d70068;
  text-decoration: none;
}
a:hover {
  color: #0088cc;
}
.container {
  margin: 0 auto;
  width: 480px;
  padding-bottom: 40px;
/*  padding: 20px 20px 40px 20px;*/
  background-color: white;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  overflow: hidden;
/*  -moz-box-shadow:    0 0 100px 3px #000;
  -webkit-box-shadow: 0 0 100px 3px #000;
  box-shadow:         0 0 100px 3px #000;*/
}
.flash {
  width: 100px;
  padding: 10px 10px 10px 16px;
  font-weight: bold;
  font-style: italic;
  margin: 20px auto;
  background: lighten(#FF0000, 60%);
  color: #FF0000;
}
.nav {
  margin: 20px auto;
  margin-bottom: 0;
  padding: 0;
  width: 480px;
	list-style-type: none;
  background-color: #d70068;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.nav li {
  display: inline-block;
  width: auto;
  padding: 16px;
  border-right: 1px solid white;
}
.nav li:last-child {
  border: none;
}
.nav li a {
  font-size: medium;
  padding: ;
  font-weight: 300;
  text-align: center;
  color: white;
}

/* css for landing page */
.gorilla {
  background: black url('/images/baby_gorilla.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing_div {
  position: absolute;
  left: 40%;
  top: 20%;
  margin-top: -50px;
  width: 300px;
  min-height: 300px;
  position: absolute;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  -moz-box-shadow:    0 0 100px 3px #000;
  -webkit-box-shadow: 0 0 100px 3px #000;
  box-shadow:         0 0 100px 3px #000;
}

.landing_div h3 {
  text-align: center;
  color: white;
  background-color: #d70068;
  padding: 16px 0 16px 0;
  margin: 0;
}

.landing_div p {
  padding: 16px;
  margin: 0;
}

#signregisterform {
  color: #d70068;
  text-decoration: none;
  margin: 0 auto;
  width: 200px;
  padding: 15px 15px 20px 15px;
}

#signregisterform input {
  margin: 5px 0 5px 0;
}

.input-box {
  width: 200px;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

/*---- Survey list & Take Survey ----- */

.survey-list {
  list-style-type: none;
  padding: 0;
  margin-left: 80px;
  margin-right: 80px;
}
h1 {
  padding: 16px 0;
  margin-left: 80px;
  margin-right: 80px;
}
.take_survey {
  margin-left: 80px;
  margin-right: 80px;
}
.take_survey input[type="radio"] {
  display: inline-block;
  margin: 6px;
}
.take_survey input[type="submit"] {
  margin-top: 18px;
}

/* ------ Results ------ */
.results-summary {
  margin-left: 80px;
  margin-right: 80px;
}

.results-responses {
  list-style-type: none;
  padding-left: 18px;
  margin-left: 80px;
  margin-right: 80px;
}

.your_answer {
  color: green;
}

#survey_complete {
  display: none;
}
