<form id="logform" action="<%= @action %>" method="post">
  <!-- <label for="username">Username: </label> -->
  <input id="username_input" class="input-box" type="text" name="user_info[username]" placeholder="username">
  <!-- <label for="password">Password: </label> -->
  <input class="input-box" type="password" name="user_info[password]" placeholder="password">
  <input class="login_button" type="submit" value="<%= @submit_button %>">
</form>
