<div class="landing_div">
  <h3>Survey Gorilla Baby</h3>
  <p>
    <strong>Survey Gorilla Baby</strong>: the best on the 
    localhost to create a survey.  Please signin or 
    register to continue.
  </p>
  <section><%= styled_flash %></section>
  <p class="center"><a id="signin" href="">Sign in</a></p>
  <p class="center"><a id="register" href="">Register</a></p>
  <div id="signregisterform"></div>
</div>

