<div class="landing_div background"></div>

<div class="landing_div front">
  <h3>Survey Gorilla Baby</h3>
  <p>
    The best site on the 
    localhost to create a survey.  Please log in or 
    register to continue.
  </p>

  <section><%= styled_flash %></section>
  <div id="sign_or_register">
    <p class="center list"><a id="signin" href="">Log In</a></p>
    <p class="center list"><a id="register" href="">Register</a></p>
  </div>
  <div id="signregisterform"></div>
</div>

