<div class="container">
  <% if current_user %>
    <ul class="nav">
      <li><a href="">Make</a></li>
      <li><a href="">Take</a></li>
      <li><a href="">History</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  <% else %>
    <form action="/login" method="post">
      <label for="username">Username: </label>
      <input type="text" name="user_info[username]">
      <br>
      <label for="password">Password: </label>
      <input type="password" name="user_info[password]">
      <br>
      <input type="submit" value="Login">
    </form>  
  <% end %>

</div>
