<div class="container">
  <% if current_user %>
    <ul class="nav">
      <li><a href="">Make</a></li>
      <li><a href="">Take</a></li>
      <li><a href="">History</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul>
  <% else %>
    <ul>
      <li><a id="signin" href="">Sign in</a></li>
      <li><a id="register" href="">Register</a></li>
    </ul>

    <div id="signform">
    </div>
  <% end %>
</div>
