<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <% if current_user %>
    <ul class="nav">
      <li><a href="/make">Make</a></li>
      <li><a href="/surveys">Take</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/logout">Log out</a></li>
    </ul><br>
    <p>This is the layout.erb page, not the landing_page.erb page.</p>
  <% end %>
  <section><%= styled_flash %></section>
  <%= yield %>
</body>
</html>
